/* General */html{font:normal 12px verdana, arial;background-color:#000;}
#advertisement{text-align:center;}
.even,.primary{background-color:#242424;border-color:#000;}
.odd,.secondary{background-color:#161616;border-color:#000;}
.formSpan{display:block;margin-bottom:1.25em;}
#container{width:760px;margin:0 auto;}
.hasSidebar #container{width:1000px;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
/* Header */#head{position:relative;height:196px;background:#242424;}
#title{font:bold 26px verdana;letter-spacing:-1px;position:absolute;top:20px;left:20px;z-index:10;margin:0;padding:0;}
#title a,#title a:visited,#title a:hover{color:#fff;}
#smalltitle{font:normal 12px arial;color:#fff;position:absolute;top:60px;left:20px;z-index:10;margin:0;padding:0;}
.logo{width:760px;height:196px;position:absolute;}
/* Navigation */#mainnavwrap{background:#242424;font-family:arial;font-weight:400;border-top:1px solid #000;border-bottom:1px solid #000;padding:10px 20px;}
#mainnavwrap ul{background:transparent;list-style-type:none;margin:0;padding:0;}
#mainnavwrap li{display:inline;margin:0 15px 0 0;}
/* Content */#bigcontain{width:760px;float:left;}
.paragraph{background:#242424 url('bg-p.gif') repeat-x top left;border-bottom:1px solid #000;overflow:hidden;padding:15px 20px 10px;}
.title{font:18px verdana;color:#fff;margin:0 0 10px;}
#bigcontain ul,#bigcontain ol,#bigcontain dd{margin-left:2em;}
.text{margin-bottom:10px;}
/* Footer */.clears{clear:both;}
#footer{font:normal 10px verdana, sans-serif;background:#242424 url('bg-p.gif') repeat-x top left;color:#999;clear:both;margin:0;padding:11px 0 1px;}
.footertext{background:#161616;border-bottom:1px solid #000;border-top:1px solid #000;margin:0;padding:6px 0 6px 20px;}
